/* Carousel styles */
.carousel {
    height: 60vh;
    width: 100%;
    position: relative;
  }
  
  .carousel-image {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  
  .carousel-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
  }
  
  /* Card Sections */
  .card-sections {
    margin-top: 20px;
  }
  
  .card-section-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .card-section-container.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Card styles */
  .card-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .card {
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-front {
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    border-radius: 10px;
  }
  
  .card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
  }
  
  /* Section Title */
  .section-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }
  